body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.322);
    display: flex;
    align-items: center;
}

#container {
    width: 30%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
}

#round > p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

#result > p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

input[type="button"] {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    background-color: red;
    border: 1px solid red;
    font-weight: 600;
}

#battle-zone {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

#battle-zone > div {
    text-align: center;
}

#battle-zone > div:nth-of-type(2) {
    display: flex;
    align-items: center;
}

.score {
    font-size: 30px;
    color: red;
    margin: 10px 0;
}

.team {
    font-size: 20px;
    margin: 10px 0;
}


.selected {
    height: 100px;
    width: auto;
    border-radius: 50%;
}

.versus {
    height: 150px;
    width: auto;
}


#choice-buttons {
    text-align: center;
}

#choice-buttons > img {
    height: 70px;
    width: auto;
    margin: 0 10px;
    border-radius: 50%;
}