body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.322);
    display: flex;
    align-items: center;
}

#container {
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
}

#battle-zone {
    display: flex;
}


.selected {
    height: 150px;
    width: auto;
}

.versus {
    height: 150px;
    width: auto;
}


#choice-buttons > img {
    height: 100px;
    width: auto;
}